<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-devops" role="menuitem"><a href="{{site.baseurl}}tag/cybersecurity/">CyberSecurity</a></li>
    <li class="nav-devops" role="menuitem"><a href="{{site.baseurl}}tag/programming/">Programming</a></li>
    <li class="nav-devsecops" role="menuitem"><a href="{{site.baseurl}}tag/devops/">DevOps</a></li>
    <li class="nav-devsecops" role="menuitem"><a href="{{site.baseurl}}tag/devsecops/">DevSecOps</a></li>
    <li class="nav-devsecops" role="menuitem"><a href="{{site.baseurl}}tag/game-development/">Game Development</a></li>
    <li class="nav-devsecops" role="menuitem"><a href="{{site.baseurl}}tag/game-reviews/">Game Reviews</a></li>
</ul>